.infoBox{
    text-align: center;
    display: none;
    

}


.card-container{
   display: flex;
  justify-content: center;  
 
  
}

.infoBox.show{
    display:block
}


.card{
    border: 1px solid black;
    padding: 80px;
}
